/* ==========================================================================
   Normalize.scss settings
   ========================================================================== */
/**
 * Includes legacy browser support IE6/7
 *
 * Set to false if you want to drop support for IE6 and IE7
 */
*
{
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

/* Base
   ========================================================================== */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS and IE text size adjust after device orientation change,
 *    without disabling user zoom.
 * 3. Corrects text resizing oddly in IE 6/7 when body `font-size` is set using
 *  `em` units.
 */
html
{
    font-family: sans-serif;
    /* 1 */

        -ms-text-size-adjust: 100%;
    /* 2 */
    -webkit-text-size-adjust: 100%;
    /* 2 */
}

/**
 * Remove default margin.
 */
body
{
    margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary
{
    display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video
{
    display: inline-block;
    /* 1 */

    vertical-align: baseline;
    /* 2 */
}

/**
 * Prevents modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls])
{
    display: none;

    height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
 */
[hidden],
template
{
    display: none;
}

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a
{
    background-color: transparent;
}

/**
 * Improve readability of focused elements when they are also in an
 * active/hover state.
 */
a:active,
a:hover
{
    outline: 0;
}

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title]
{
    border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong
{
    font-weight: bold;
}

/**
 * Address styling not present in Safari and Chrome.
 */
dfn
{
    font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1
{
    font-size: 2em;

    margin: .67em 0;
}

/**
 * Addresses styling not present in IE 8/9.
 */
mark
{
    color: #000; 
    background: #ff0;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
small
{
    font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup
{
    font-size: 75%;
    line-height: 0;

    position: relative;

    vertical-align: baseline;
}

sup
{
    top: -.5em;
}

sub
{
    bottom: -.25em;
}

/* Embedded content
   ========================================================================== */
/**
 * 1. Remove border when inside `a` element in IE 8/9/10.
 * 2. Improves image quality when scaled in IE 7.
 */
img
{
    border: 0;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root)
{
    overflow: hidden;
}

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure
{
    margin: 1em 40px;
}

/**
 * Address differences between Firefox and other browsers.
 */
hr
{
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    height: 0;
}

/**
 * Contain overflow in all browsers.
 */
pre
{
    overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 * Correct font family set oddly in IE 6, Safari 4/5, and Chrome.
 */
code,
kbd,
pre,
samp
{
    font-family: monospace, monospace;
    font-size: 1em;
}

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *  Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 * 4. Improves appearance and consistency in all browsers.
 */
button,
input,
optgroup,
select,
textarea
{
    /* 1 */
    font: inherit;
    /* 2 */

    margin: 0;

    color: inherit;
    /* 3 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button
{
    overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select
{
    text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *  and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *  `input` and others.
 * 4. Removes inner spacing in IE 7 without affecting normal text inputs.
 *  Known issue: inner spacing remains in IE 6.
 */
button,
html input[type='button'],
input[type='reset'],
input[type='submit']
{
    /* 2 */
    cursor: pointer;

    -webkit-appearance: button;
    /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled]
{
    cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner
{
    padding: 0; 

    border: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input
{
    line-height: normal;
}

/**
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 *  Known issue: excess padding remains in IE 6.
 */
input[type='checkbox'],
input[type='radio']
{
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    /* 1 */
    padding: 0;
    /* 2 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button
{
    height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome.
 */
input[type='search']
{
    /* 1 */
    -webkit-box-sizing: content-box;
            box-sizing: content-box;

    -webkit-appearance: textfield;
    /* 2 */
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-decoration
{
    -webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */
fieldset
{
    margin: 0 2px;
    padding: .35em .625em .75em; 

    border: 1px solid #c0c0c0;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 * 3. Corrects text not wrapping in Firefox 3.
 * 4. Corrects alignment displayed oddly in IE 6/7.
 */
legend
{
    /* 1 */
    padding: 0;

    border: 0;
    /* 2 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea
{
    overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup
{
    font-weight: bold;
}

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table
{
    border-spacing: 0; 
    border-collapse: collapse;
}

td,
th
{
    padding: 0;
}

div.wrapper-modal-english
{
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;

    display: none; 

    width: 100%;
    height: 100%;

    background: rgba(0, 0, 0, .7);
}
div.wrapper-modal-english #form-modal-english
{
    display: none;
}
div.wrapper-modal-english .modal-content-english
{
    position: relative;

    width: 80%;
    height: 80%;
    margin: 10vh auto;

    background: url('../img/english_modal.jpg');
    background-size: cover;
}
@media screen and (max-width: 850px)
{
    div.wrapper-modal-english .modal-content-english
    {
        height: 90vh;
        margin: 5vh auto;
    }
}
div.wrapper-modal-english .modal-content-english .modal-block-for-text-english
{
    font-family: 'Segoe UI', sans-serif;
    font-size: 1.2vw;

    display: inline-block;
    float: right;
    overflow: hidden; 

    width: 55%;
    height: 75%;
    margin: 5% 7%;
    padding: 1%;

    -webkit-border-radius: 10px;
            border-radius: 10px;
    background: rgba(255, 255, 255, .66);
}
@media screen and (max-width: 850px)
{
    div.wrapper-modal-english .modal-content-english .modal-block-for-text-english
    {
        font-size: 2vh; 

        width: 100%;
        margin: 0;
        padding: 5%;
    }
}
div.wrapper-modal-english .modal-content-english button
{
    font-size: 1.5vw; 

    position: absolute;
    right: 20%;
    bottom: 10px;

    width: 25vw;
    height: 7vh;

    color: white;
    border: 1px solid red;
    -webkit-border-radius: 10px;
            border-radius: 10px;
    background: red;
}
@media screen and (max-width: 850px)
{
    div.wrapper-modal-english .modal-content-english button
    {
        font-size: 3.5vw; 

        right: 25%;
        bottom: 10px;

        width: 40vw;
        height: 10vh;
    }
}
div.wrapper-modal-english form
{
    position: absolute;
    right: 16vw; 
    bottom: 30vh;

    overflow: hidden;

    width: 25vw;
}
@media screen and (max-width: 850px)
{
    div.wrapper-modal-english form
    {
        right: 4vw;

        width: 70vw;
    }
}
div.wrapper-modal-english form input
{
    font-size: 4.1vh; 

    width: 100%;
    height: 10vh;
    margin: 12% 0;

    text-align: center;

    border: none;
}

div.wrapper-modal-polish
{
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;

    display: none; 

    width: 100%;
    height: 100%;

    background: rgba(0, 0, 0, .7);
}
div.wrapper-modal-polish #form-modal-polish
{
    display: none;
}
div.wrapper-modal-polish .modal-content-polish
{
    position: relative;

    width: 80%;
    height: 80%;
    margin: 10vh auto;

    background: url('../img/Polish_modal.jpg');
    background-size: cover;
}
@media screen and (max-width: 850px)
{
    div.wrapper-modal-polish .modal-content-polish
    {
        height: 90vh;
        margin: 5vh auto;
    }
}
div.wrapper-modal-polish .modal-content-polish .modal-block-for-text-polish
{
    font-family: 'Segoe UI', sans-serif;
    font-size: 1.2vw;

    display: inline-block;
    float: left;
    overflow: hidden; 

    width: 55%;
    height: 75%;
    margin: 5% 7%;
    padding: 1%;

    -webkit-border-radius: 10px;
            border-radius: 10px;
    background: rgba(255, 255, 255, .66);
}
@media screen and (max-width: 850px)
{
    div.wrapper-modal-polish .modal-content-polish .modal-block-for-text-polish
    {
        font-size: 2vh; 

        width: 100%;
        margin: 0;
        padding: 5%;
    }
}
div.wrapper-modal-polish .modal-content-polish button
{
    font-size: 1.5vw; 

    position: absolute;
    bottom: 10px;
    left: 15%;

    width: 25vw;
    height: 7vh;

    color: white;
    border: 1px solid red;
    -webkit-border-radius: 10px;
            border-radius: 10px;
    background: red;
}
@media screen and (max-width: 850px)
{
    div.wrapper-modal-polish .modal-content-polish button
    {
        font-size: 3.5vw; 

        bottom: 10px;
        left: 25%;

        width: 40vw;
        height: 10vh;
    }
}
div.wrapper-modal-polish form
{
    position: absolute;
    bottom: 30vh;
    left: 12vw; 

    overflow: hidden;

    width: 25vw;
}
@media screen and (max-width: 850px)
{
    div.wrapper-modal-polish form
    {
        left: 5vw;

        width: 70vw;
    }
}
div.wrapper-modal-polish form input
{
    font-size: 4.1vh; 

    width: 100%;
    height: 10vh;
    margin: 12% 0;

    text-align: center;

    border: none;
}

div.wrapper-modal-chinese
{
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;

    display: none; 

    width: 100%;
    height: 100%;

    background: rgba(0, 0, 0, .7);
}
div.wrapper-modal-chinese #form-modal-chinese
{
    display: none;
}
div.wrapper-modal-chinese .modal-content-chinese
{
    position: relative;

    width: 80%;
    height: 80%;
    margin: 10vh auto;

    background: url('../img/chinese_modal.jpg');
    background-size: cover;
}
@media screen and (max-width: 850px)
{
    div.wrapper-modal-chinese .modal-content-chinese
    {
        height: 90vh;
        margin: 5vh auto;
    }
}
div.wrapper-modal-chinese .modal-content-chinese .modal-block-for-text-chinese
{
    font-family: 'Segoe UI', sans-serif;
    font-size: 1vw;

    display: inline-block;
    float: left;
    overflow: hidden; 

    width: 55%;
    height: 75%;
    margin: 5% 7%;
    padding: 1%;

    -webkit-border-radius: 10px;
            border-radius: 10px;
    background: rgba(255, 255, 255, .66);
}
@media screen and (max-width: 850px)
{
    div.wrapper-modal-chinese .modal-content-chinese .modal-block-for-text-chinese
    {
        font-size: 1.85vh; 

        width: 100%;
        margin: 0;
        padding: 5%;
    }
}
div.wrapper-modal-chinese .modal-content-chinese button
{
    font-size: 1.5vw; 

    position: absolute;
    bottom: 10px;
    left: 15%;

    width: 25vw;
    height: 7vh;

    color: white;
    border: 1px solid red;
    -webkit-border-radius: 10px;
            border-radius: 10px;
    background: red;
}
@media screen and (max-width: 850px)
{
    div.wrapper-modal-chinese .modal-content-chinese button
    {
        font-size: 3.5vw; 

        bottom: 10px;
        left: 25%;

        width: 40vw;
        height: 10vh;
    }
}
div.wrapper-modal-chinese form
{
    position: absolute;
    bottom: 30vh;
    left: 12vw; 

    overflow: hidden;

    width: 25vw;
}
@media screen and (max-width: 850px)
{
    div.wrapper-modal-chinese form
    {
        left: 5vw;

        width: 70vw;
    }
}
div.wrapper-modal-chinese form input
{
    font-size: 4.1vh; 

    width: 100%;
    height: 10vh;
    margin: 12% 0;

    text-align: center;

    border: none;
}

div.wrapper-modal-business
{
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;

    display: none; 

    width: 100%;
    height: 100%;

    background: rgba(0, 0, 0, .7);
}
div.wrapper-modal-business #form-modal-business
{
    display: none;
}
div.wrapper-modal-business .modal-content-business
{
    position: relative;

    width: 80%;
    height: 80%;
    margin: 10vh auto;

    background: url('../img/bussines_modal.jpg');
    background-size: cover;
}
@media screen and (max-width: 850px)
{
    div.wrapper-modal-business .modal-content-business
    {
        height: 90vh;
        margin: 5vh auto;
    }
}
div.wrapper-modal-business .modal-content-business .modal-block-for-text-business
{
    font-family: 'Segoe UI', sans-serif;
    font-size: 1vw;

    display: inline-block;
    overflow: hidden; 

    width: 80%;
    margin: 10%;
    padding: 1%;

    -webkit-border-radius: 10px;
            border-radius: 10px;
    background: rgba(255, 255, 255, .66);
}
@media screen and (max-width: 850px)
{
    div.wrapper-modal-business .modal-content-business .modal-block-for-text-business
    {
        font-size: 1.85vh; 

        width: 100%;
        margin: 0;
        padding: 5%;
    }
}
div.wrapper-modal-business .modal-content-business button
{
    font-size: 1.5vw; 

    position: absolute;
    bottom: 10px;
    left: 32%;

    width: 25vw;
    height: 7vh;

    color: white;
    border: 1px solid red;
    -webkit-border-radius: 10px;
            border-radius: 10px;
    background: red;
}
@media screen and (max-width: 850px)
{
    div.wrapper-modal-business .modal-content-business button
    {
        font-size: 3.5vw; 

        bottom: 10px;
        left: 25%;

        width: 40vw;
        height: 10vh;
    }
}
div.wrapper-modal-business form
{
    position: absolute;
    bottom: 30vh;
    left: 14vw; 

    overflow: hidden;

    width: 50vw;
}
@media screen and (max-width: 850px)
{
    div.wrapper-modal-business form
    {
        left: 5vw;

        width: 70vw;
    }
}
div.wrapper-modal-business form input
{
    font-size: 4.1vh; 

    width: 100%;
    height: 10vh;
    margin: 6% 0;

    text-align: center;

    border: none;
}

.modal-alert-wrapper
{
    font-size: 5vw;

    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;

    display: none;

    width: 100%;
    height: 100%;

    text-align: center;

    color: white; 
    background: rgba(0, 0, 0, .7);
}
.modal-alert-wrapper span
{
    position: absolute;
    top: 45%;
    left: 15%;
}

.preloader
{
    position: absolute;
    top: 35%;
    left: 40%;

    display: none;
}
@media screen and (max-width: 850px)
{
    .preloader
    {
        top: 15%;
        left: 40%;
    }
}

.spinner
{
    position: relative;

    width: 40px;
    height: 40px;
    margin: 100px auto;

    -webkit-animation: sk-rotate 2.0s infinite linear;
            animation: sk-rotate 2.0s infinite linear; 
    text-align: center;
}

.dot1,
.dot2
{
    position: absolute;
    top: 0;

    display: inline-block;

    width: 60%;
    height: 60%;

    -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
            animation: sk-bounce 2.0s infinite ease-in-out; 

    -webkit-border-radius: 100%;
            border-radius: 100%;
    background-color: #333;
}

.dot2
{
    top: auto;
    bottom: 0;

    -webkit-animation-delay: -1.0s;
            animation-delay: -1.0s;
}

@-webkit-keyframes sk-rotate
{
    100%
    {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes sk-rotate
{
    100%
    {
        -webkit-transform: rotate(360deg); 
                transform: rotate(360deg);
    }
}

@-webkit-keyframes sk-bounce
{
    0%,
    100%
    {
        -webkit-transform: scale(0);
    }
    50%
    {
        -webkit-transform: scale(1);
    }
}

@keyframes sk-bounce
{
    0%,
    100%
    {
        -webkit-transform: scale(0); 
                transform: scale(0);
    }
    50%
    {
        -webkit-transform: scale(1); 
                transform: scale(1);
    }
}

div.modal-feedback-wrapper
{
    position: fixed;
    z-index: 100; 
    top: 0;
    left: 0;

    display: none;

    width: 100%;
    height: 100%;

    background: rgba(0, 0, 0, .7);
}
div.modal-feedback-wrapper .back-modal-feedback
{
    position: relative;
    top: 25%;
    left: 25%;

    width: 45vw;
    height: 25vw;
    padding: 2.8vw 0 0 0;

    -webkit-border-radius: 10px;
            border-radius: 10px; 
    background: #fcc51b;
}
@media screen and (max-width: 850px)
{
    div.modal-feedback-wrapper .back-modal-feedback
    {
        top: 25%;
        left: 1%; 

        width: 95vw;
        height: 60vw;
        padding: 3vw 0 0 0;
    }
}
div.modal-feedback-wrapper .back-modal-feedback #form-modal
{
    width: 100%;
}
div.modal-feedback-wrapper .back-modal-feedback #form-modal input
{
    font-size: 2.5vw;

    display: block;

    width: 80%;
    height: 4vw;
    margin: 4vw auto 0;

    text-align: center;

    border: none;
}
@media screen and (max-width: 850px)
{
    div.modal-feedback-wrapper .back-modal-feedback #form-modal input
    {
        font-size: 5vw; 

        height: 10vw;
        margin: 8vw auto 0;
    }
}
div.modal-feedback-wrapper .back-modal-feedback button
{
    font-size: 2vw;

    position: absolute;
    bottom: -30%;
    left: 22%;

    width: 25vw;
    height: 5vw;

    color: white; 
    border: 1px solid red;
    -webkit-border-radius: 5px;
            border-radius: 5px;
    background: red;
}
@media screen and (max-width: 850px)
{
    div.modal-feedback-wrapper .back-modal-feedback button
    {
        font-size: 4vw;

        width: 50vw;
        height: 10vw;
    }
}

.modal-test-wrapper
{
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;

    display: none;

    width: 100%;
    height: 100%;

    background: rgba(0, 0, 0, .7);

    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
            align-items: center;
}
.modal-test-wrapper .modal-test
{
    position: relative; 

    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;
            flex-direction: column;

    width: 60%;
    height: 95%;

    background: #cfcfcf;

    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
            justify-content: space-between;
}
@media screen and (max-width: 850px)
{
    .modal-test-wrapper .modal-test
    {
        width: 95%;
        height: 95%;
    }
}
.modal-test-wrapper .modal-test .how_it_works
{
    margin-left: 5%;

    color: rgba(0, 0, 0, .65);
}
.modal-test-wrapper .modal-test span
{
    font-family: 'Segoe UI', sans-serif;
    font-size: 2.2vw;

    text-align: center;
}
.modal-test-wrapper .modal-test .close_icon
{
    position: absolute;
    top: -3%;
    right: 0;

    width: 4vw;
    height: 4vw;

    cursor: pointer;
}
@media screen and (max-width: 850px)
{
    .modal-test-wrapper .modal-test .close_icon
    {
        width: 6vh;
        height: 6vh;
    }
}
.modal-test-wrapper .modal-test .questions
{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;

    width: 80%;
    height: 70%;
    margin: auto;

    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
            align-items: center;
}
.modal-test-wrapper .modal-test .questions .load
{
    font-family: 'Segoe UI', sans-serif;
    font-size: 2.6vw; 

    text-align: center;
}
@media screen and (max-width: 850px)
{
    .modal-test-wrapper .modal-test .questions .load
    {
        font-size: 4vw;
    }
}
.modal-test-wrapper .modal-test .questions .load .replace_empty
{
    font-size: 2.2vw;
}
@media screen and (max-width: 850px)
{
    .modal-test-wrapper .modal-test .questions .load .replace_empty
    {
        font-size: 4vh;
    }
}
@media screen and (max-width: 850px)
{
    .modal-test-wrapper .modal-test .questions .load h3
    {
        font-size: 4vh;
    }
}
.modal-test-wrapper .modal-test .questions .load p
{
    font-family: 'Segoe UI', sans-serif;
    font-size: 2.2vw;

    display: block;

    cursor: pointer;

    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
}
@media screen and (max-width: 850px)
{
    .modal-test-wrapper .modal-test .questions .load p
    {
        font-size: 6vh;
    }
}
.modal-test-wrapper .modal-test img
{
    width: 6vw;
    height: 7vw;
    margin-top: 3%; 
    margin-left: 5%;
}
@media screen and (max-width: 850px)
{
    .modal-test-wrapper .modal-test img
    {
        width: 12vh;
        height: 14vh;
    }
}
.modal-test-wrapper .modal-test button
{
    font-family: 'Segoe UI', sans-serif;
    font-size: 2.2vw; 

    width: 20vw;
    height: 5vw;
    margin-right: 5%;
    margin-bottom: 3%;

    border: 1px solid #fcc51b;
    background: #fcc51b;

    -webkit-align-self: flex-end;
    -ms-flex-item-align: end;
            align-self: flex-end;
}
@media screen and (max-width: 850px)
{
    .modal-test-wrapper .modal-test button
    {
        font-size: 4vw; 

        width: 35vw;
        height: 10vw;
    }
}
.modal-test-wrapper .modal-test button.disabled
{
    color: rgba(0, 0, 0, .35);
    border: none; 
    background: rgba(0, 0, 0, .25);
}
.modal-test-wrapper .modal-test .modal-logo
{
    font-family: 'Segoe UI', sans-serif; 

    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;
            flex-direction: column;

    width: 25vw;
    height: 7vw;
    margin-top: 3%;
    margin-left: 5%;

    background: #fcc51b;

    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
            align-items: center;
}
@media screen and (max-width: 850px)
{
    .modal-test-wrapper .modal-test .modal-logo
    {
        width: 40vh;
        height: 15vh;
    }
}
.modal-test-wrapper .modal-test .modal-logo :first-child
{
    font-size: 2.2vw;
    line-height: 1.2;
}
@media screen and (max-width: 850px)
{
    .modal-test-wrapper .modal-test .modal-logo :first-child
    {
        font-size: 4vh;
        line-height: 1.2;
    }
}
.modal-test-wrapper .modal-test .modal-logo :last-child
{
    font-size: 1.2vw;
    line-height: 1.2;
}
@media screen and (max-width: 850px)
{
    .modal-test-wrapper .modal-test .modal-logo :last-child
    {
        font-size: 2.5vh;
        line-height: 1.2;
    }
}

progress
{
    width: 100%;
}

.modal-test-form
{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;
            flex-direction: column;

    width: 60%;
    height: 95%;

    background: #cfcfcf;

    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
            justify-content: space-around;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
            align-items: center;
}
@media screen and (max-width: 850px)
{
    .modal-test-form
    {
        width: 90%;
    }
}
.modal-test-form .modal-test-logo-wrapper
{
    font-family: 'Segoe UI', sans-serif;

    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;

    width: 100%;

    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
            justify-content: center;
}
.modal-test-form .modal-test-logo-wrapper img
{
    width: 5vw;
    height: 6vw; 
    margin-left: 5%;
}
.modal-test-form .modal-test-form-logo
{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;

    width: 25vw;
    height: 7vw;

    text-align: center;

    background: #fcc51b; 

    -webkit-flex-flow: column;
        -ms-flex-flow: column;
            flex-flow: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
            align-items: center;
}
.modal-test-form .modal-test-form-logo :first-child
{
    font-size: 1.7vw;
}
.modal-test-form .modal-test-form-logo :last-child
{
    font-size: 1.1vw;
}
.modal-test-form form
{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;

    width: 30vw;
    height: 15vw;

    -webkit-flex-flow: column;
        -ms-flex-flow: column;
            flex-flow: column;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
            justify-content: space-around;
}
.modal-test-form form input
{
    width: 100%;
    height: 5vw;
}
.modal-test-form #test-send-form
{
    display: block;
}

nav.nav-large_screen:hover
{
    -webkit-transition: background 1s;
            transition: background 1s; 

    background: #717171;
}

nav.nav-large_screen
{
    position: fixed;
    z-index: 100;

    width: 100%;
    height: 5vw;
    padding: 0 10%;

    background: rgba(113, 113, 113, .7);
}
@media screen and (max-width: 850px)
{
    nav.nav-large_screen
    {
        display: none;
    }
}
nav.nav-large_screen img
{
    display: inline-block;
    float: left;

    height: 90%;
}
nav.nav-large_screen .yellow_school_logo_nav
{
    font-family: 'Segoe UI', sans-serif;

    display: none;

    width: 25vw;
    height: 5vw;
    margin-left: 1.35%; 

    text-align: center;

    background: #fcc51b;
}
nav.nav-large_screen .yellow_school_logo_nav :first-child
{
    font-size: 2vw;
    line-height: 1.2;
}
nav.nav-large_screen .yellow_school_logo_nav :last-child
{
    font-size: 1vw;
    line-height: 1.2;
}
nav.nav-large_screen ul
{
    margin-left: 3vw;
}
nav.nav-large_screen li
{
    display: inline-block;

    padding: 0 5px;

    border-left: 2px solid white;
}
nav.nav-large_screen a
{
    font-size: 1.5vw;

    text-decoration: none; 

    color: white;
}

nav.small-screen
{
    position: fixed; 
    z-index: 100;

    width: 100%;
    padding: 1% 5%;

    cursor: pointer;

    background: #717171;
}
@media screen and (min-width: 850px)
{
    nav.small-screen
    {
        display: none;
    }
}
nav.small-screen div.logo-nav-small
{
    font-family: 'Segoe UI', sans-serif;

    display: none;
    float: left;

    width: 50%;
    height: 16vw;

    text-align: center;

    background: #fcc51b;
}
nav.small-screen div.logo-nav-small :first-child
{
    font-size: 5vw; 
    line-height: 1.6;
}
nav.small-screen div.logo-nav-small :last-child
{
    font-size: 3vw;
}
nav.small-screen img
{
    display: inline-block;

    width: 10vw;
    height: 12vw;
}
nav.small-screen div.nav-bottom
{
    display: none;

    height: 50vw;

    background: #717171;
}
nav.small-screen div.nav-bottom ul
{
    padding: 0;
}
nav.small-screen div.nav-bottom li
{
    padding: 0;

    list-style: none;
}
nav.small-screen div.nav-bottom a
{
    font-family: 'Segoe UI', sans-serif;
    font-size: 6vw;
    line-height: 1.6;

    text-align: left; 
    text-decoration: none;

    color: #ebebeb;
}

.upper-header-block
{
    margin-bottom: 15%;
}
@media screen and (max-width: 850px)
{
    .upper-header-block
    {
        margin-bottom: 25%;
    }
}

section.header
{
    height: 100vh;
    min-height: 60vw;
    padding: 7% 10%; 

    background: transparent;
    background-size: 100% 100%;
}
@media screen and (max-width: 850px)
{
    section.header
    {
        height: 101vh;
        min-height: 101vw; 
        padding: 20% 5% 0 5%;
    }
}
section.header .logo-yellow-school
{
    display: inline-block;
    float: left;

    width: 25vw;
    height: 10vw;

    text-align: center;

    background: #fcc51b;
}
@media screen and (max-width: 850px)
{
    section.header .logo-yellow-school
    {
        float: left; 

        width: 50%;
        height: 20vw;
        padding: 4% 0;
    }
}
section.header .logo-yellow-school :first-child
{
    font-family: 'Times New Roman', sans-serif;
    font-size: 3.33333vw;
    line-height: 1.1; 

    margin-top: 7%;

    color: #282828;
}
@media screen and (max-width: 850px)
{
    section.header .logo-yellow-school :first-child
    {
        font-size: 5.5vw; 

        margin-top: 0;
    }
}
section.header .logo-yellow-school :nth-child(2)
{
    font-family: 'Times New Roman', sans-serif;
    font-size: 2vw;
    line-height: 1.1; 

    color: #282828;
}
@media screen and (max-width: 850px)
{
    section.header .logo-yellow-school :nth-child(2)
    {
        font-size: 3.33333vw;
    }
}
section.header .course-info
{
    display: inline-block;
    float: right;

    width: 25vw;
    height: 10vw;
    padding: 15px 30px;

    text-align: center; 

    -webkit-border-radius: 10px;
            border-radius: 10px;
    background: rgba(202, 202, 202, .7);
}
@media screen and (max-width: 850px)
{
    section.header .course-info
    {
        float: right;

        width: 50%;
        height: 20vw;
        padding: 3%;

        text-align: center; 

        -webkit-border-radius: 0;
                border-radius: 0;
    }
}
section.header .course-info :first-child
{
    font-family: 'Segoe UI', sans-serif;
    font-size: 2.5vw;
    font-weight: bold; 
    line-height: 1.2;

    color: #282828;
}
@media screen and (max-width: 850px)
{
    section.header .course-info :first-child
    {
        font-size: 5vw;
    }
}
section.header .course-info :last-child
{
    font-family: 'Segoe UI', sans-serif;
    font-size: 1.25vw;
    font-weight: bold; 
    line-height: 1.2;

    color: #282828;
}
@media screen and (max-width: 850px)
{
    section.header .course-info :last-child
    {
        font-size: 2.5vw;
    }
}
section.header .feedback
{
    display: inline-block;
    float: left;

    width: 25vw;
    height: 29vw;
    padding: 8% 3%;

    background: rgba(252, 197, 27, .7);
}
@media screen and (max-width: 850px)
{
    section.header .feedback
    {
        width: 100%;
        height: 45vw; 
        padding: 8% 10%;
    }
}
section.header .feedback input
{
    font-size: 2vw;

    width: 100%;
    height: 4vw;
    margin-bottom: 5%; 

    text-align: center;

    outline: none;
}
@media screen and (max-width: 850px)
{
    section.header .feedback input
    {
        font-size: 4vw; 

        width: 100%;
        height: 7vw;
    }
}
section.header .feedback button
{
    font-family: 'Segoe UI', sans-serif;
    font-size: 2vw;
    line-height: 1.2; 

    width: 100%;
    height: 5vw;
    margin-top: 10%;

    color: #ebebeb;
    border: 1px solid #ed1c24;
    outline: none;
    background: #ed1c24;
}
@media screen and (max-width: 850px)
{
    section.header .feedback button
    {
        font-size: 4vw; 

        width: 100%;
        height: 7vw;
        margin-top: 5%;
    }
}
section.header .learn-new-lang
{
    font-family: 'Segoe UI', sans-serif;
    font-size: 4vw;
    line-height: 1.2;

    display: inline-block;
    float: right;

    width: 60%;
    height: 10vw;

    text-align: center; 

    color: #fcc51b;
    background: rgba(113, 113, 113, .7);
}
@media screen and (max-width: 850px)
{
    section.header .learn-new-lang
    {
        display: none;
    }
}
section.header .learn-new-lang-mob
{
    display: none;
}
@media screen and (max-width: 850px)
{
    section.header .learn-new-lang-mob
    {
        font-size: 6vw; 

        display: block;

        width: 100%;

        text-align: center;

        color: #fcc51b;
        background: rgba(113, 113, 113, .7);
    }
}

.main-body
{
    width: 100%;
    height: auto; 
    padding: 5% 10%;
}
@media screen and (max-width: 850px)
{
    .main-body
    {
        padding: 5%;
    }
}
.main-body .why-choose-us
{
    font-family: 'Segoe UI', sans-serif;
    font-size: 5vw;
    line-height: 1.2; 

    width: 80%;
    height: 10vw;
    margin: 0 auto;
    padding: 2%;

    text-align: center;

    color: #05050d;
    background: #fcc51b;
}
@media screen and (max-width: 850px)
{
    .main-body .why-choose-us
    {
        width: 100%;
    }
}
.main-body .wrapper-for-tip
{
    height: auto;
    margin-bottom: 70%;
}
@media screen and (max-width: 850px)
{
    .main-body .wrapper-for-tip
    {
        margin-bottom: 30%;
    }
}
.main-body .wrapper
{
    display: inline-block;
    float: left;

    width: 22%; 
    margin: 10% 1%;
}
@media screen and (max-width: 850px)
{
    .main-body .wrapper
    {
        display: none;
    }
}
.main-body .wrapper img
{
    display: block;

    margin: auto;
}
.main-body .wrapper .text
{
    font-family: 'Segoe UI', sans-serif;
    font-size: 2vw;
    line-height: 1.2;

    text-align: center; 

    color: #05050d;
}
.main-body .wrapper .margin-bottom
{
    padding: 0 45px;
}
.main-body .wrapper .explain-text
{
    font-family: 'Segoe UI', sans-serif;
    font-size: 1.1vw;

    width: 100%;
    height: 25vw;
    margin-top: 35px;
    padding: 10px;

    text-align: left;

    color: #05050d; 
    -webkit-border-radius: 10px;
            border-radius: 10px;
    background: #f6d264;
}

div.wrapper-for-tip-medium-screen
{
    margin-bottom: 30%;
    padding-top: 5%;
}
@media screen and (min-width: 850px)
{
    div.wrapper-for-tip-medium-screen
    {
        display: none;
    }
}
@media screen and (max-width: 758px)
{
    div.wrapper-for-tip-medium-screen
    {
        display: none;
    }
}
div.wrapper-for-tip-medium-screen .tip-medium-screen
{
    display: inline-block;

    width: 47%;
    height: 50vw;
    margin: 1%;

    text-align: center;
}
div.wrapper-for-tip-medium-screen .tip-medium-screen img
{
    display: inline-block;
    float: left;
    clear: both;

    width: 13vw;
    height: 13vw;
}
div.wrapper-for-tip-medium-screen .tip-medium-screen h2
{
    font-size: 3.5vw;
}
div.wrapper-for-tip-medium-screen .tip-medium-screen div
{
    font-family: 'Segoe UI', sans-serif;
    font-size: 2vw;

    width: 90%;
    height: 32vw;
    margin: 5% auto;
    padding: 2%;

    text-align: left;

    -webkit-border-radius: 10px;
            border-radius: 10px; 
    background: #f6d264;
}

div.wrapper-for-small-screen
{
    margin: 10% 0;
}
@media screen and (min-width: 758px)
{
    div.wrapper-for-small-screen
    {
        display: none;
    }
}
div.wrapper-for-small-screen .tip-for-small-screen .left-block
{
    font-family: 'Segoe UI', sans-serif; 
    font-size: 2.5vw;

    display: inline-block;
    float: left;

    width: 30vw;

    text-align: center;
}
div.wrapper-for-small-screen .tip-for-small-screen .left-block img
{
    display: block;

    width: 15vw;
    height: 15vw;
    margin: auto;
}
div.wrapper-for-small-screen .tip-for-small-screen .right-block
{
    font-family: 'Segoe UI', sans-serif; 
    font-size: 3vw;

    display: inline-block;
    float: left;

    width: 55vw;
    height: 55vw;
    margin: 0 0 5% 0;
    padding: 3%;

    -webkit-border-radius: 10px;
            border-radius: 10px;
    background: #f6d264;
}

.courses_h1-large
{
    font-family: 'Segoe UI', sans-serif;
    font-size: 5vw;
    line-height: 1.2; 

    width: 70%;
    height: 10vw;
    margin: 0 auto;
    padding: 2%;

    text-align: center;

    color: #05050d;
    background: #fcc51b;
}
@media screen and (max-width: 850px)
{
    .courses_h1-large
    {
        display: none;
    }
}

.courses_h1-small
{
    width: 80%; 
    height: 15vw;
    margin: auto;

    background: rgba(163, 178, 140, .7);
}
@media screen and (min-width: 860px)
{
    .courses_h1-small
    {
        display: none;
    }
}

.flip-for-large-screen
{
    margin-bottom: 30%;
    /* flip the pane when hovered */
    /* flip speed goes here */
    /* hide back of pane during swap */
    /* front pane, placed above back */
    /* back, initially hidden pane */
    /* flip the pane when hovered */
    /* flip speed goes here */
    /* hide back of pane during swap */
    /* front pane, placed above back */
    /* back, initially hidden pane */
    /* flip the pane when hovered */
    /* flip speed goes here */
    /* hide back of pane during swap */
    /* front pane, placed above back */
    /* back, initially hidden pane */
    /* flip the pane when hovered */
    /* flip speed goes here */
    /* hide back of pane during swap */
    /* front pane, placed above back */
    /* back, initially hidden pane */
}
@media screen and (max-width: 860px)
{
    .flip-for-large-screen
    {
        display: none;
    }
}
.flip-for-large-screen .container-for-flip-1
{
    position: relative; 

    margin-top: 1%;
    padding: 5% 10%;
}
.flip-for-large-screen .container-for-flip-1 img
{
    position: absolute;
    top: 170px;
    right: 40%; 

    width: 13%;
}
.flip-for-large-screen .container-for-flip-2
{
    position: relative;

    margin-top: 15%;
    padding: 5% 10%;
}
.flip-for-large-screen .container-for-flip-2 img
{
    position: absolute;
    top: 120px;
    left: 42%; 

    width: 10%;
}
.flip-for-large-screen .flip-container
{
    display: inline-block;
    float: left;

    -webkit-perspective: 1000px;
            perspective: 1000px;
}
.flip-for-large-screen .flip-container:hover .flipper,
.flip-for-large-screen .flip-container.hover .flipper
{
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
}
.flip-for-large-screen .flip-container,
.flip-for-large-screen .front,
.flip-for-large-screen .back
{
    width: 35vw;
    height: 220px;
}
.flip-for-large-screen .flipper
{
    position: relative; 

    -webkit-transition: .6s;
            transition: .6s;

    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
}
.flip-for-large-screen .front,
.flip-for-large-screen .back
{
    position: absolute;
    top: 0;
    left: 0; 

    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
}
.flip-for-large-screen .front
{
    z-index: 2;

    padding: 10%;
    /* for firefox 31 */

    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg); 

    background: #76c2af;
}
.flip-for-large-screen .front :first-child
{
    font-family: 'Segoe UI', sans-serif;
    font-size: 2.3vw;
    line-height: 1.2;

    text-align: center; 

    color: #05050d;
}
.flip-for-large-screen .front div
{
    font-family: 'Segoe UI', sans-serif;
    font-size: 2.5vw;
    line-height: 1.2;

    text-align: center; 

    color: #05050d;
}
.flip-for-large-screen .front hr
{
    width: 60%; 

    border: 1px solid black;
}
.flip-for-large-screen .front .how-long
{
    font-family: 'Segoe UI', sans-serif;
    font-size: 1.5vw;
    line-height: 1.2;

    margin-top: 5%;

    text-align: center; 

    color: #05050d;
}
.flip-for-large-screen .back
{
    font-family: 'Segoe UI', sans-serif; 
    font-size: 2.3vw;

    padding: 5%;

    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
    text-align: center;

    color: #05050d;
    background: url('../img/green-bg.jpg') no-repeat;
    background-size: cover;
}
.flip-for-large-screen .back button
{
    line-height: 1.2;

    width: 60%;
    margin-top: 3%; 

    color: white;
    border: 1px solid red;
    -webkit-border-radius: 10px;
            border-radius: 10px;
    background: red;
}
.flip-for-large-screen .flip-container-1
{
    display: inline-block;
    float: right;

    -webkit-perspective: 1000px;
            perspective: 1000px;
}
.flip-for-large-screen .flip-container-1:hover .flipper,
.flip-for-large-screen .flip-container.hover .flipper
{
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
}
.flip-for-large-screen .flip-container-1,
.flip-for-large-screen .front,
.flip-for-large-screen .back
{
    width: 35vw;
    height: 220px;
}
.flip-for-large-screen .flipper
{
    position: relative; 

    -webkit-transition: .6s;
            transition: .6s;

    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
}
.flip-for-large-screen .front,
.flip-for-large-screen .back
{
    position: absolute;
    top: 0;
    left: 0; 

    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
}
.flip-for-large-screen .flip-container-1 .front
{
    z-index: 2;
    /* for firefox 31 */

    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg); 
    text-align: center;

    background: #c75c5c;
}
.flip-for-large-screen .flip-container-1 .back
{
    font-family: 'Segoe UI', sans-serif; 
    font-size: 2.3vw;

    padding: 5%;

    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
    text-align: center;

    color: #05050d;
    background: url('../img/brown-bg.jpg') no-repeat;
    background-size: cover;
}
.flip-for-large-screen .flip-container-1 .back button
{
    line-height: 1.2;

    width: 60%;
    margin-top: 3%; 

    color: white;
    border: 1px solid red;
    -webkit-border-radius: 10px;
            border-radius: 10px;
    background: red;
}
.flip-for-large-screen .flip-container-2
{
    display: inline-block;
    float: left;

    -webkit-perspective: 1000px;
            perspective: 1000px;
}
.flip-for-large-screen .flip-container-2:hover .flipper,
.flip-for-large-screen .flip-container.hover .flipper
{
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
}
.flip-for-large-screen .flip-container-2,
.flip-for-large-screen .front,
.flip-for-large-screen .back
{
    width: 35vw;
    height: 220px;
}
.flip-for-large-screen .flipper
{
    position: relative; 

    -webkit-transition: .6s;
            transition: .6s;

    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
}
.flip-for-large-screen .front,
.flip-for-large-screen .back
{
    position: absolute;
    top: 0;
    left: 0; 

    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
}
.flip-for-large-screen .flip-container-2 .front
{
    z-index: 2;
    /* for firefox 31 */

    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg); 

    background: #f6d264;
}
.flip-for-large-screen .flip-container-2 .back
{
    font-family: 'Segoe UI', sans-serif; 
    font-size: 2.3vw;

    padding: 5%;

    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
    text-align: center;

    color: #05050d;
    background: url('../img/yellow-bg.jpg') no-repeat;
    background-size: cover;
}
.flip-for-large-screen .flip-container-2 .back button
{
    line-height: 1.2;

    width: 60%;
    margin-top: 3%; 

    color: white;
    border: 1px solid red;
    -webkit-border-radius: 10px;
            border-radius: 10px;
    background: red;
}
.flip-for-large-screen .flip-container-3
{
    display: inline-block;
    float: right;

    -webkit-perspective: 1000px;
            perspective: 1000px;
}
.flip-for-large-screen .flip-container-3:hover .flipper,
.flip-for-large-screen .flip-container.hover .flipper
{
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
}
.flip-for-large-screen .flip-container-3,
.flip-for-large-screen .front,
.flip-for-large-screen .back
{
    width: 35vw;
    height: 220px;
}
.flip-for-large-screen .flipper
{
    position: relative; 

    -webkit-transition: .6s;
            transition: .6s;

    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
}
.flip-for-large-screen .front,
.flip-for-large-screen .back
{
    position: absolute;
    top: 0;
    left: 0; 

    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
}
.flip-for-large-screen .flip-container-3 .front
{
    z-index: 2;
    /* for firefox 31 */

    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg); 

    background: #ed1c24;
}
.flip-for-large-screen .flip-container-3 .back
{
    font-family: 'Segoe UI', sans-serif; 
    font-size: 2.3vw;

    padding: 5%;

    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
    text-align: center;

    color: #05050d;
    background: url('../img/red-bg.jpg') no-repeat;
    background-size: cover;
}
.flip-for-large-screen .flip-container-3 .back button
{
    line-height: 1.2;

    width: 60%;
    margin-top: 3%; 

    color: white;
    border: 1px solid red;
    -webkit-border-radius: 10px;
            border-radius: 10px;
    background: red;
}

.flip-for-large-screen .flip-container-3,
.flip-for-large-screen .front,
.flip-for-large-screen .back
{
    width: 35vw;
    height: 18vw;
}

@media screen and (min-width: 850px)
{
    .flip-for-small-screen
    {
        display: none;
    }
}

.flip-for-small-screen .row-1
{
    padding-left: 5%;
}

.flip-for-small-screen .card
{
    font-family: 'Segoe UI', sans-serif;
    font-size: 3.3vw;

    display: inline-block;

    width: 47%;
    height: 40vw;
    margin-bottom: 1%;
    padding-top: 10%; 

    text-align: center;
}
.flip-for-small-screen .card div
{
    font-size: 2.3vw;
}
.flip-for-small-screen .card hr
{
    width: 80%;

    border: 1px solid black;
}
.flip-for-small-screen .card button
{
    font-size: 2.2vw;

    width: 20vw;
    height: 7vw;
    margin-top: 10%;

    color: #fff;
    border: 1px solid red;
    -webkit-border-radius: 5px;
            border-radius: 5px; 
    background: red;
}

.flip-for-small-screen .row-1-card-1
{
    background: #76c2af;
}

.flip-for-small-screen .row-1-card-2
{
    background: #c75c5c;
}

.flip-for-small-screen .row-2-card-1
{
    background: #f6d264;
}

.flip-for-small-screen .row-2-card-2
{
    background: #ed1c24;
}

section.past_the_test
{
    font-family: 'Segoe UI', sans-serif;
    font-size: 3vw;
    line-height: 1.3;

    width: 90%;
    height: 10vw;
    margin: auto;

    text-align: center;

    color: white; 
    background: #414141;
}
@media screen and (max-width: 850px)
{
    section.past_the_test
    {
        font-size: 5vw;
        line-height: 1.5; 

        height: 30vw;
        padding: 5% 10%;
    }
}
section.past_the_test button
{
    font-size: 1.5vw;

    width: 25%;
    height: 3vw;

    border: 1px solid red;
    -webkit-border-radius: 10px;
            border-radius: 10px; 
    outline: none;
    background: red;
}
@media screen and (max-width: 850px)
{
    section.past_the_test button
    {
        font-size: 2.5vw; 

        width: 40%;
        height: 5vw;
    }
}

section.where-find-us
{
    padding: 5%;
}
section.where-find-us #map
{
    display: inline-block;
    float: left; 

    width: 50%;
    height: 25vw;
}
@media screen and (max-width: 850px)
{
    section.where-find-us #map
    {
        width: 100%;
        height: 50vw;
    }
}
section.where-find-us .finding-us-small-screen
{
    line-height: 1.2; 

    width: 100%;
    padding: 5% 10%;

    text-align: center;

    color: white;
    background: #414141;
}
@media screen and (min-width: 850px)
{
    section.where-find-us .finding-us-small-screen
    {
        display: none;
    }
}
section.where-find-us .finding-us-small-screen .upper-find
{
    font-size: 7vw; 

    width: 100%;
    margin: auto;
}
section.where-find-us .finding-us-small-screen .adress
{
    font-size: 4vw;

    width: 90%;
    margin: auto;
    margin-bottom: 10%;
}
section.where-find-us .finding-us-small-screen .telephones
{
    font-size: 4vw; 
    line-height: 1.1;

    display: inline-block;
    float: left;

    width: 50%;
    margin-left: 5%;

    color: #fcc51b;
}
section.where-find-us .finding-us-small-screen img
{
    display: inline-block;

    width: 12vw;
    height: 14vw;
}
section.where-find-us .finding-us
{
    font-family: 'Segoe UI', sans-serif;
    line-height: 1.5; 

    float: right;

    width: 50%;
    height: 25vw;

    color: #fff;
    background: #414141;
}
@media screen and (max-width: 850px)
{
    section.where-find-us .finding-us
    {
        display: none;
    }
}
section.where-find-us .finding-us .upper-find
{
    font-size: 4vw; 

    width: 70%;
    margin: auto;
}
section.where-find-us .finding-us .adress
{
    font-size: 2vw; 

    width: 70%;
    margin: auto;
}
section.where-find-us .finding-us .telephones
{
    font-size: 2.9vw; 
    line-height: 1.1;

    display: inline-block;
    float: left;

    width: 47%;
    margin-top: 7%;
    margin-left: 15%;

    color: #fcc51b;
}
section.where-find-us .finding-us img
{
    display: inline-block;
    float: right;

    width: 8vw;
    height: 9.5vw;
    margin-top: 7%; 
    margin-right: 10%;
}

footer.footer-for-large-screen
{
    width: 90%;
    height: 40vw;
    margin: 25% auto 0;

    background: #414141;
}
@media screen and (max-width: 850px)
{
    footer.footer-for-large-screen
    {
        display: none;
    }
}
footer.footer-for-large-screen .request-the-call
{
    position: relative; 
    z-index: 10;

    height: 10vw;
    padding: 3% 0;

    background: #969696;
}
footer.footer-for-large-screen .request-the-call .triangle
{
    position: absolute;
    z-index: 0;
    top: 100%;
    left: 43%;

    width: 0;
    height: 0;

    border-top: 70px solid #969696; 
    border-right: 60px solid transparent;
    border-left: 60px solid transparent;
}
footer.footer-for-large-screen .request-the-call button
{
    font-size: 2vw; 

    display: block;

    width: 60%;
    height: 4vw;
    margin: auto;

    color: white;
    border: 1px solid red;
    -webkit-border-radius: 10px;
            border-radius: 10px;
    background: red;
}
footer.footer-for-large-screen div.footer-info
{
    width: 95%;
    height: 10vw;
    margin: 22% auto 0;
}
footer.footer-for-large-screen div.footer-info .footer-brand
{
    font-family: 'Segoe UI', sans-serif; 

    display: inline-block;
    float: left;

    width: 25%;
    height: 7vw;
    margin-top: 2%;

    text-align: center;

    background: #fcc51b;
}
footer.footer-for-large-screen div.footer-info .footer-brand :first-child
{
    font-size: 2vw; 
    line-height: 1.7;
}
footer.footer-for-large-screen div.footer-info .footer-brand :last-child
{
    font-size: 1.3vw;
}
footer.footer-for-large-screen div.footer-info .footer-nav-1
{
    display: inline-block;
    float: left; 

    margin-left: 5%;
}
footer.footer-for-large-screen div.footer-info .footer-nav-1 ul li
{
    list-style-type: none;
}
footer.footer-for-large-screen div.footer-info .footer-nav-1 ul li a
{
    font-size: 1.7vw;
    line-height: 1.5;

    text-decoration: none;
    text-transform: uppercase;

    color: white;
}
footer.footer-for-large-screen div.footer-info .footer-social
{
    position: relative;

    float: right;

    width: 20%;
}
footer.footer-for-large-screen div.footer-info .footer-social span.follow-us
{
    font-family: 'Segoe UI', sans-serif;
    font-size: 2.5vw; 

    position: absolute;
    top: -45%;
    right: 20%;

    color: white;
}
footer.footer-for-large-screen div.footer-info .footer-social img
{
    float: left;

    width: 4vw;
    height: 4vw; 
    margin-top: 10%;
    margin-right: 5%;
}

footer.footer-for-small-screen
{
    width: 90%;
    height: 80vw;
    margin: 55% auto 0; 

    background: #414141;
}
@media screen and (min-width: 850px)
{
    footer.footer-for-small-screen
    {
        display: none;
    }
}
footer.footer-for-small-screen .request-the-call
{
    position: relative; 
    z-index: 10;

    height: 15vw;
    padding: 3% 0;

    background: #969696;
}
footer.footer-for-small-screen .request-the-call button
{
    font-size: 3.5vw; 

    display: block;

    width: 60%;
    height: 7vw;
    margin: 2% auto;

    color: white;
    border: 1px solid red;
    -webkit-border-radius: 10px;
            border-radius: 10px;
    background: red;
}
footer.footer-for-small-screen .footer-brand
{
    font-family: 'Segoe UI', sans-serif; 

    width: 100%;
    height: 20vw;
    margin: auto;

    text-align: center;

    background: #fcc51b;
}
footer.footer-for-small-screen .footer-brand :first-child
{
    font-size: 7vw; 
    line-height: 1.7;
}
footer.footer-for-small-screen .footer-brand :last-child
{
    font-size: 3.5vw;
}
footer.footer-for-small-screen .footer-navigation
{
    display: inline-block;
    float: left; 

    width: 50%;
    height: 54%;

    background: #414141;
}
footer.footer-for-small-screen .footer-navigation ul li
{
    margin-top: 7px;

    list-style-type: none;
}
footer.footer-for-small-screen .footer-navigation ul li a
{
    font-size: 3vw;
    line-height: 1.5;

    text-decoration: none;
    text-transform: uppercase;

    color: white;
}
footer.footer-for-small-screen .footer-social
{
    display: inline-block;
    float: right; 

    width: 50%;
    height: 54%;

    background: #414141;
}
footer.footer-for-small-screen .follow-us
{
    font-family: 'Segoe UI', sans-serif;
    font-size: 6vw; 

    margin-top: 3%;

    text-align: center;

    color: white;
}
footer.footer-for-small-screen .wrapper-for-social
{
    margin-top: 25%;
}
footer.footer-for-small-screen .wrapper-for-social a
{
    margin-left: 6%;
}
footer.footer-for-small-screen .wrapper-for-social img
{
    width: 10vw;
    height: 10vw;
}
