@import "normalize";




//variables
$YellowColor:rgba(252,197,27, 1);
$GrayTransparent:rgba(202, 202, 202, 0.7);
$darkTranparent:rgba(113,113,113,0.7);
$MainFont:"Times New Roman", sans-serif;
$FontSegoe:"Segoe UI", sans-serif;
$LargeFont:10vw;
$NormalFont:5vw;
$SmallFont:3vw;
$TinyFont:1vw;

//variables
//mixin
@mixin MainFont{
  font-family: $MainFont;
  color: rgb(40, 40, 40);
  line-height: 1.1;
}
@mixin SecondFont{
  font-family: $FontSegoe;
  color: rgb(40, 40, 40);
  line-height: 1.2;
}
//mixin

//navigation
nav.nav-large_screen:hover{
  background: rgba(113,113,113,1);
  transition: background 1s;
}
nav.nav-large_screen {
  @media screen and (max-width: 850px){
    display:none;
  }
  position: fixed;
  z-index: 100;
  padding: 0 10%;
  width: 100%;
  height:5vw;
  background: $darkTranparent;

  img {
    float: left;
    display: inline-block;
    height: 90%;
  }
  .yellow_school_logo_nav{
    text-align: center;
    font-family:$FontSegoe;
    display: none;
    width: 25vw;
    height: 5vw;
    background: $YellowColor;
    margin-left: 1.35%;
    :first-child{
      font-size: 2vw;
      line-height: 1.2;
    }
    :last-child{
      font-size: 1vw;
      line-height: 1.2;
    }
  }
  ul{

      margin-left:3vw;


  }
  li {
    padding: 0 5px;
    display: inline-block;
    border-left:  2px solid white;

  }
    a{
      font-size:1.5vw;
      color: white;
      text-decoration: none;
    }
  }
//navigation small screen
nav.small-screen{
  @media screen and (min-width: 850px){
    display: none;
  }
  cursor: pointer;
  z-index: 100;
  background: rgba(113,113,113,1);
  width: 100%;

  padding: 1% 5%;
  position: fixed;
  div.logo-nav-small{
    font-family: $FontSegoe;
    display: none;
    float: left;
    text-align: center;
    width: 50%;
    height: 16vw;
    background: $YellowColor;
    :first-child{
      line-height: 1.6;
      font-size: 5vw;
    }
    :last-child{
      font-size: 3vw;
    }
  }
  img{

    display: inline-block;
    width: 10vw;
    height: 12vw;
  }
  div.nav-bottom{
    display: none;
    height: 50vw;
    background: rgba(113,113,113,1);

    ul
    {
      padding: 0;
    }li
    {
      padding: 0;
      list-style: none;
    }
    a{
        text-decoration: none;

        font-size: 6vw;
        font-family:$FontSegoe;
        color: rgb(235, 235, 235);
        line-height: 1.6;
        text-align: left;
    }
  }
}





//navigation small screen


//navigation

//styling
.upper-header-block{
  margin-bottom: 15%;
  @media screen and (max-width: 850px){
    margin-bottom: 25%;
  }
}
section.header{
  height: 100vh;
  min-height: 60vw;
  background: transparent;
  background-size:100% 100% ;
  padding: 7% 10%;
  @media screen and (max-width: 850px){
    padding: 20% 5% 0 5%;
    height: 101vh;
    min-height: 101vw;
  }
  //left logo
  .logo-yellow-school{
    text-align: center;
    display: inline-block;
    float: left;
    width: 25vw;
    height: 10vw;
    background: $YellowColor;
     @media screen and (max-width: 850px){
       padding: 4% 0;
       width: 50%;
       height: 20vw;
       float: left;
  }
    :first-child{
        margin-top:7%;
        font-size: $LargeFont/3;
        @include MainFont;
        @media screen and (max-width: 850px){
        margin-top: 0;
        font-size: $NormalFont*1.1;
      }
    }
    :nth-child(2){

        font-size: $NormalFont/2.5;
       @include MainFont;
       @media screen and (max-width: 850px){
        font-size: $NormalFont/1.5;
      }
    }

  }
  //end left logo
//right logo
  .course-info{

    //margin-bottom: 15px;
    display: inline-block;
    float: right;
    width: 25vw;
    height: 10vw;
    padding: 15px 30px;
    background: $GrayTransparent;
    border-radius: 10px;
    text-align: center;
    @media screen and (max-width: 850px){
      padding: 3%;
      width: 50%;
      height: 20vw;
      float: right;
      border-radius: 0;
      text-align: center;
    }
    :first-child{

        font-size: $LargeFont/4;
        @include SecondFont;
        font-weight: bold;

      @media screen and (max-width: 850px){
        font-size: $NormalFont;
      }
    }
    :last-child{
        font-size: $LargeFont/8;
        @include SecondFont;
        font-weight: bold;
      @media screen and (max-width: 850px){
        font-size: $NormalFont/2;
      }
    }
  }
//end right logo
  //feedback
  .feedback{
    display: inline-block;
    padding:8% 3%;
    float: left;
    width: 25vw;
    height: 29vw;
    background: rgba($YellowColor, 0.7);
    @media screen and (max-width: 850px){
      padding:8% 10%;
      width: 100%;
      height: 45vw;
    }
    input{
      width: 100%;
      text-align: center;
      outline: none;
      height: 4vw;
      font-size: 2vw;
      margin-bottom: 5%;
      @media screen and (max-width: 850px){
        width: 100%;
                    height: 7vw;
        font-size: 4vw;

      }
    }
    button{
      margin-top: 10%;
      width: 100%;
      background:#ed1c24 ;
      height: 5vw;
      outline: none;
      border: 1px solid #ed1c24;
      //border-radius: 10px;
        font-size: 2vw;
        font-family: $FontSegoe;
        color: rgb(235, 235, 235);
        line-height: 1.2;
      @media screen and (max-width: 850px){
        margin-top: 5%;
        width: 100%;
        height: 7vw;
        font-size: 4vw;

      }
    }
  }
  //feedback
  //learn new language
  .learn-new-lang{
    display: inline-block;
    float: right;
    width: 60%;
    height: 10vw;
    background: $darkTranparent;
      font-size:4vw;
      font-family:$FontSegoe;
      color: $YellowColor;
      line-height: 1.2;
      text-align: center;
    @media screen and (max-width: 850px){
   display: none;
    }
  }
  .learn-new-lang-mob{
    display: none;
    @media screen and (max-width: 850px){
      background: $darkTranparent;
      display: block;
      width: 100%;

      color: $YellowColor;
      text-align: center;
      font-size:6vw;
    }
  }
  //end learn new language
}
//end header

//main body
.main-body{
  padding: 5% 10%;
  @media screen and (max-width: 850px){
    padding: 5%;
  }
  width: 100%;
  height: auto;
  //end main body
  //why choose us
  .why-choose-us{
    background: $YellowColor;
    padding: 2%;
    margin: 0 auto;
    width: 80%;
    @media screen and (max-width: 850px){
      width: 100%;

    }
    height: 10vw;
    text-align: center;
    font-size: 5vw;
      font-family: $FontSegoe;
      color: rgb(5, 5, 13);
      line-height: 1.2;
  }
//why choose us
  .wrapper-for-tip{
    height:auto;
    margin-bottom: 70%;
    @media screen and (max-width: 850px){
      margin-bottom: 30%;
    }
  }
  .wrapper{
    display: inline-block;
    float: left;
    margin: 10% 1% ;
    width: 22%;

    @media screen and (max-width: 850px){
      display:none;
    }

    img{
      display: block;
      margin: auto;
    }
    .text{
      font-size: 2vw;
      font-family: $FontSegoe;
      color: rgb(5, 5, 13);
      line-height: 1.2;
      text-align: center;

    }
    .margin-bottom{
      padding: 0 45px;
    }
      .explain-text{
        height: 25vw;
        width: 100%;
        margin-top: 35px;
        padding: 10px;
        border-radius: 10px;
        background: #f6d264;
          text-align: left;
          font-size: 1.1vw;
          font-family: $FontSegoe;
          color: rgb(5, 5, 13);
        //display: flex;
        //align-items: center;
        //justify-content: center;
      }
  }

}
//phone resolution

div.wrapper-for-tip-medium-screen{
  @media screen and (min-width: 850px )  {
    display: none;
  }
  @media screen and (max-width: 758px )  {
    display: none;
  }
  margin-bottom: 30%;
  padding-top: 5%;
  .tip-medium-screen{
    display: inline-block;
    margin: 1%;
    width: 47%;
    height: 50vw;
    //background: $darkTranparent;
    text-align: center;
  img{
    display: inline-block;
    float: left;
    clear: both;
    width: 13vw;
    height: 13vw;
  }
    h2{
      font-size: 3.5vw
    }
    div{
      text-align: left;
      font-family: $FontSegoe;
      font-size: 2vw;
      width: 90%;
      height:32vw;
      margin:5% auto;
      padding: 2%;
      background: #f6d264;
      border-radius: 10px;

    }


  }

}
div.wrapper-for-small-screen{

  @media screen and (min-width: 758px) {
    display: none;
  }

  margin: 10% 0;
  //background: rgba(163, 178, 140, 0.7);
  //height:50vw;


  .tip-for-small-screen{


    .left-block{
      display: inline-block;
      float: left;
      width: 30vw;
      font-size: 2.5vw;
      text-align: center;
      font-family: $FontSegoe;
      img{
        display: block;
        width: 15vw;
        height: 15vw;
        margin: auto;
      }
    }
    .right-block{
      display: inline-block;
      margin: 0 0 5% 0;
      width: 55vw;
      height: 55vw;
      float: left;
      padding: 3%;
      background: #f6d264;
      border-radius: 10px;
      font-size: 3vw;
      font-family: $FontSegoe;

    }
  }


}


//phone resolution

//courses-for-large-screen
.courses_h1-large{

  background: $YellowColor;
  padding: 2%;
  margin: 0 auto;
  width: 70%;
  @media screen and (max-width: 850px){
   display:none;

  }
  height: 10vw;
  text-align: center;
  font-size: 5vw;
  font-family: $FontSegoe;
  color: rgb(5, 5, 13);
  line-height: 1.2;
}
.courses_h1-small{
  @media screen and (min-width: 860px){
    display: none;
  }
  margin: auto;
  height: 15vw;
  background: rgba(163, 178, 140, 0.7);
  width: 80%;
}
.flip-for-large-screen{
  margin-bottom: 30%;
  @media screen and (max-width: 860px){
    display: none;
  }
  .container-for-flip-1{
    margin-top: 1%;
    padding:5% 10%;
    position: relative;
    img {
      width: 13%;
      position: absolute;
      top: 170px;
      right: 40%;
    }

  }
  .container-for-flip-2{
    position: relative;
    margin-top: 15%;
    padding:5% 10%;
    img {
      width: 10%;
      position: absolute;
      top: 120px;
      left:  42%
    }
  }
  .flip-container {

    float: left;
    display: inline-block;
    perspective: 1000px;
  }
  /* flip the pane when hovered */
  .flip-container:hover .flipper, .flip-container.hover .flipper {
    transform: rotateY(180deg);
  }

  .flip-container, .front, .back {
    width: 35vw;
    height: 220px;
  }

  /* flip speed goes here */
  .flipper {
    transition: 0.6s;
    transform-style: preserve-3d;

    position: relative;
  }

  /* hide back of pane during swap */
  .front, .back {
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
  }

  /* front pane, placed above back */
  .front {
    background:#76c2af;
    z-index: 2;
    padding:  10%;
    /* for firefox 31 */
    transform: rotateY(0deg);
    :first-child{
      font-size: 2.3vw;
      font-family: $FontSegoe;
      color: rgb(5, 5, 13);
      line-height: 1.2;
      text-align: center;
    }
    div{
      font-size: 2.5vw;
      font-family: $FontSegoe;
      color: rgb(5, 5, 13);
      line-height: 1.2;
      text-align: center;
    }
    hr{
      border: 1px solid black;
      width: 60%;
    }
    .how-long{
      margin-top: 5%;
      font-size:1.5vw;
      font-family: $FontSegoe;
      color: rgb(5, 5, 13);
      line-height: 1.2;
      text-align: center;
    }


  }

  /* back, initially hidden pane */
  .back {
    ul{
      padding: 5px 10px;
    }
    li{
      list-style-type:none;
      margin: 1%;
      font-family: $FontSegoe;
      font-size: 1.3vw;
      i{
        color: green;
        margin-right: 5px;
      }
    }
    button{
      color: white;
      display: block;
      width: 20vw;
      height:2.3vw;
      margin: auto;
      font-size: 1.2vw;
      background: red;
      outline: red;
      border: 1px  solid red;
    }

    background: #76c2af;
    transform: rotateY(180deg);
  }

  .flip-container-1 {
    float: right;
    display: inline-block;
    perspective: 1000px;
  }
  /* flip the pane when hovered */
  .flip-container-1:hover .flipper, .flip-container.hover .flipper {
    transform: rotateY(180deg);
  }

  .flip-container-1, .front, .back {
    width: 35vw;
    height: 220px;
  }

  /* flip speed goes here */
  .flipper {
    transition: 0.6s;
    transform-style: preserve-3d;

    position: relative;
  }

  /* hide back of pane during swap */
  .front, .back {
    backface-visibility: hidden;

    position: absolute;
    top: 0;
    left: 0;
  }

  /* front pane, placed above back */
  .flip-container-1 .front {
    text-align: center;
    background: #c75c5c;
    z-index: 2;
    /* for firefox 31 */
    transform: rotateY(0deg);
  }

  /* back, initially hidden pane */
  .flip-container-1 .back {
    ul{
      padding: 5px 10px;
    }
    li{
      list-style-type:none;
      margin: 1%;
      font-family: $FontSegoe;
      font-size: 1.3vw;
      i{
        color: green;
        margin-right: 5px;
      }
    }
    button{
      color: white;
      display: block;
      width: 20vw;
      height:2.3vw;
      margin: auto;
      font-size: 1.2vw;
      background: red;
      outline: red;
      border: 1px  solid red;
    }
    background: #c75c5c;
    transform: rotateY(180deg);
  }
  .flip-container-2 {
    float: left;
    display: inline-block;
    perspective: 1000px;
  }
  /* flip the pane when hovered */
  .flip-container-2:hover .flipper, .flip-container.hover .flipper {
    transform: rotateY(180deg);
  }

  .flip-container-2, .front, .back {
    width: 35vw;
    height: 220px;
  }

  /* flip speed goes here */
  .flipper {
    transition: 0.6s;
    transform-style: preserve-3d;

    position: relative;
  }

  /* hide back of pane during swap */
  .front, .back {
    backface-visibility: hidden;

    position: absolute;
    top: 0;
    left: 0;
  }

  /* front pane, placed above back */
  .flip-container-2 .front {
    background: #f6d264;
    z-index: 2;
    /* for firefox 31 */
    transform: rotateY(0deg);
  }

  /* back, initially hidden pane */
  .flip-container-2 .back {
    ul{
      padding: 5px 10px;
    }
    li{
      list-style-type:none;
      margin: 1%;
      font-family: $FontSegoe;
      font-size: 1.3vw;
      i{
        color: green;
        margin-right: 5px;
      }
    }
    button{
      color: white;
      display: block;
      width: 20vw;
      height:2.3vw;
      margin: auto;
      font-size: 1.2vw;
      background: red;
      outline: red;
      border: 1px  solid red;
    }
    background: #f6d264;
    transform: rotateY(180deg);
  }
  .flip-container-3 {
    float: right;
    display: inline-block;
    perspective: 1000px;
  }
  /* flip the pane when hovered */
  .flip-container-3:hover .flipper, .flip-container.hover .flipper {
    transform: rotateY(180deg);
  }

  .flip-container-3, .front, .back {
    width: 35vw;
    height: 220px;
  }

  /* flip speed goes here */
  .flipper {
    transition: 0.6s;
    transform-style: preserve-3d;

    position: relative;
  }

  /* hide back of pane during swap */
  .front, .back {
    backface-visibility: hidden;

    position: absolute;
    top: 0;
    left: 0;
  }

  /* front pane, placed above back */
  .flip-container-3 .front {
    background: #ed1c24;
    z-index: 2;
    /* for firefox 31 */
    transform: rotateY(0deg);
  }

  /* back, initially hidden pane */
  .flip-container-3 .back {
    ul{
      padding: 5px 10px;
    }
    li{
      list-style-type:none;
      margin: 1%;
      font-family: $FontSegoe;
      font-size: 1.3vw;
      i{
        color: green;
        margin-right: 5px;
      }
    }
    button{
      color: white;
      display: block;
      width: 20vw;
      height:2.3vw;
      margin: auto;
      font-size: 1.2vw;
      background: red;
      outline: red;
      border: 1px  solid red;
    }
    background: #4f5d73;
    transform: rotateY(180deg);
  }
}

.flip-for-large-screen .flip-container-3, .flip-for-large-screen .front, .flip-for-large-screen .back{
  width: 35vw;
  height: 18vw;
}
//end courses-for-large-screen

//courses-for-small-screen
.flip-for-small-screen{
  @media screen and (min-width: 850px){
    display: none;
  }
    .row-1{
      padding-left:5% ;
    }
  .card{
    display: inline-block;
    width: 47%;
    height: 40vw;
    margin-bottom: 1%;
    text-align: center;
    font-family: $FontSegoe;
    font-size: 3.3vw;
    padding-top: 10%;
    div{
      font-size: 2.3vw;
    }
    hr{
      width: 80%;
      border: 1px solid black;
    }
    button{
      width:20vw;
      height: 5vw;
      color: #fff;
      margin-top: 10%;
      background: red;
      font-size: 2.2vw;
      border: 1px solid red;
      border-radius: 5px;

    }

  }
  .row-1-card-1{
    background: #76c2af;
  }
  .row-1-card-2{
    background: #c75c5c;
  }
  .row-2-card-1{
    background: #f6d264;
  }
  .row-2-card-2{
    background: #ed1c24;
  }
}
//end courses-for-small-screen

//past the test
section.past_the_test{
  //padding: 2% 0;
  text-align: center;
  background:#414141;
  width: 90%;
  margin: auto;
  height: 10vw;
  font-family: $FontSegoe;
  font-size: 3vw;
  line-height: 1.3;
  color: white;
  @media screen and (max-width: 850px){
    height:  30vw;
    padding: 5% 10%;
    font-size: 5vw;
    line-height: 1.5;
  }

  button{
    background: red;
    width: 25%;
    height:3vw;
    font-size: 1.5vw;
    border: 1px solid red;
    outline: none;
    border-radius: 10px;
    @media screen and (max-width: 850px){
      width: 40%;
      height:5vw;
      font-size: 2.5vw;

    }
  }
}
//past the test
//map
section.where-find-us{
  padding: 5%;
  #map{
    display: inline-block;
    width: 50%;
    height: 25vw;
    float: left;
    @media screen and (max-width: 850px){

      width: 100%;
      height: 50vw;
    }
  }
  .finding-us-small-screen{
    @media screen and (min-width: 850px){
      display: none;
    }
    width: 100%;
    text-align: center;
    background:#414141;
    color:white;
    padding: 5% 10%;
    line-height: 1.2;
    .upper-find{
      width: 100%;
      margin: auto;
      font-size: 7vw;
    }
    .adress{
      width: 90%;
      margin: auto;
      font-size: 4vw;
      margin-bottom: 10%;
    }
    .telephones{
      display: inline-block;
      margin-left: 5%;
      line-height: 1.1;
      width: 50%;
      float: left;
      color:$YellowColor;
      font-size: 4vw;
    }
    img{
      display: inline-block;

      width: 12vw;
      height: 14vw;
    }

  }
  .finding-us{
    @media screen and (max-width: 850px){
      display: none;
    }
    width: 50%;
    height: 25vw;
    float: right;
    background: #414141;
    color: #fff;
    font-family:$FontSegoe;
    line-height: 1.5;
    .upper-find{
      width: 70%;
      margin: auto;
        font-size: 4vw;
    }
    .adress{
      width: 70%;
      margin: auto;
      font-size: 2vw;
    }
    .telephones{
      display: inline-block;
      margin-top: 7%;
      margin-left: 15%;
      line-height: 1.1;
      width: 47%;
      float: left;
      color:$YellowColor;
      font-size: 2.9vw;
    }
    img{
      display: inline-block;
      float: right;
      width: 8vw;
      height: 9.5vw;
      margin-right: 10%;
      margin-top: 7%;
    }
  }
}

//map
//footer
footer.footer-for-large-screen{
  @media screen and (max-width: 850px){
    display: none;
  }
  width: 90%;
  height: 40vw;
  margin: 25% auto 0;
  background: #414141;
  .request-the-call{
    z-index: 10;
    height: 10vw;
    background: #969696;
    padding: 3% 0;
    position:relative;
    .triangle{
      z-index: 0;
      position: absolute;
      top: 100%;
      left: 43%;
      width: 0;
      height: 0;
      border-left: 60px solid transparent;
      border-right: 60px solid transparent;
      border-top: 70px solid #969696;
    }

    button{
      display: block;
      width: 60%;
      height: 4vw;
      margin: auto;
      color:white;
      border: 1px solid red;
      background: red;
      border-radius: 10px;
      font-size: 2vw;
    }
  }
  div.footer-info{
    height: 10vw;
    width: 95%;
    margin: 22% auto 0 ;
    //background: rgba(178, 79, 81, 0.7);
    .footer-brand{
      margin-top: 2%;
      display: inline-block;
      float: left;
      background: $YellowColor;
      text-align: center;
      width: 25%;
      height: 7vw;
      font-family: $FontSegoe;
      :first-child{
        line-height: 1.7;
        font-size: 2vw;
      }
      :last-child{
        font-size: 1.3vw
      }
    }
    .footer-nav-1{
      margin-left: 5%;
      display: inline-block;
      float: left;
      ul {
        li{
          list-style-type:none;
          a{
            font-size: 1.7vw;
            line-height: 1.5;
            text-transform: uppercase;
            text-decoration: none;
            color:white;
          }
        }
      }
    }
    .footer-social{
      span.follow-us{
        position: absolute;
        top: -45%;
        right: 20%;
        color: white;
        font-family: $FontSegoe;
        font-size: 2.5vw;
      }
      position: relative;
      float: right;
      width: 20%;
      img{
        margin-top: 10%;
        margin-right: 5%;
        float: left;
        width: 4vw;
        height: 4vw;
      }
    }


  }


}
footer.footer-for-small-screen{
  @media screen and (min-width: 850px){
    display: none;
  }
  width: 90%;
  height: 80vw;
  background: #414141;
  margin: 55% auto 0;
  .request-the-call{
    z-index: 10;
    height: 15vw;
    background: #969696;
    padding: 3% 0;
    position:relative;
    //.triangle{
    //  z-index: 0;
    //  position: absolute;
    //  top: 100%;
    //  left: 35%;
    //  width: 0;
    //  height: 0;
    //  border-left: 60px solid transparent;
    //  border-right: 60px solid transparent;
    //  border-top: 70px solid #969696;
    //}
    button{

      display: block;
      width: 60%;
      height: 7vw;
      margin: 2% auto;
      color:white;
      border: 1px solid red;
      background: red;
      border-radius: 10px;
      font-size: 3.5vw;
    }
  }
  .footer-brand{
    text-align: center;
    width: 100%;
    margin: auto;
    height: 20vw;
    background: $YellowColor;
    font-family: $FontSegoe;
    :first-child{
      line-height: 1.7;
      font-size: 7vw;
    }
    :last-child{
      font-size:3.5vw
    }
  }
  .footer-navigation{
    display: inline-block;
    width: 50%;
    height: 54%;
    background: #414141;
    float: left;
    ul li{

      margin-top:7px ;
      list-style-type:none;
      a {
        text-decoration: none;
        font-size: 3vw;
        line-height: 1.5;
        text-transform: uppercase;

        color:white;
      }
    }
  }
  .footer-social{
    display: inline-block;
    width: 50%;
    height: 54%;
    background: #414141;
    float: right;
  }
  .follow-us{
    margin-top: 3%;
    text-align: center;
    color: white;
    font-family: $FontSegoe;
    font-size: 6vw;
  }
    .wrapper-for-social{
      margin-top: 25%;
      a{
        margin-left: 6%;
      }
      img{
        width: 10vw;
        height: 10vw;
      }
    }






}
//footer